services:

  backend:
    build: ./backend
    image: ghcr.io/asceznyk/superchat_backend:latest
    container_name: dev_backend
    restart: unless-stopped
    networks:
      - app_net
    volumes:
      - ./backend:/app
    expose:
      - "8000"

  frontend:
    build: ./frontend
    image: ghcr.io/asceznyk/superchat_frontend:latest
    container_name: dev_frontend
    restart: unless-stopped
    networks:
      - app_net
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    expose:
      - "3000"
    environment:
      - NODE_ENV=development

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    networks:
      - app_net
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    ports:
      - "80:80"

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - app_net

  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - app_net
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    expose:
      - "5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    networks:
      - app_net
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "5050:80"

networks:

  app_net:
    driver: bridge

volumes:

  node_modules:
  pg_data:
  pgadmin_data:

