services:
  backend:
    build: ./backend
    image: superchat_backend:latest
    container_name: dev_backend
    networks:
      - superchat_net
    volumes:
      - ./backend:/app
    expose:
      - "8000"
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - superchat_net
    restart: unless-stopped

  frontend:
    build: ./frontend
    image: superchat_frontend:latest
    container_name: dev_frontend
    networks:
      - superchat_net
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    expose:
      - "3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=development

networks:
  superchat_net:
    driver: bridge

volumes:
  node_modules:

