#root {
  max-width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.placeholder {
  display:inline-block;
}
.placeholder:after {
  content: attr(data-placeholder);
}

.chat-input {
  min-width: 70%;
}


